<!DOCTYPE html>
<style>
  body {
    padding-top: 56px;
  }
  .container.form-container {
    margin-top: 50px;
  }
</style>
<html>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

      {% if messages %}
        <div class="alert alert-primary">
          {% for message in messages %}
            <div>{{message}}</div>
          {% endfor %}
        </div>
      {% endif %}

      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#">Django中国</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
              <li class="nav-item {% if request.resolver_match.url_name == 'account_email' %}active{% endif %}">
                <a class="nav-link" href="{% url 'account_email' %}">修改Email</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">登出</a>
              </li>
            {% else %}
              <li class="nav-item {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}">
                <a class="nav-link" href="{% url 'account_login' %}">登陆</a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}">
                <a class="nav-link" href="{% url 'account_signup' %}">注册</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </nav>
      <div class="container form-container">
        {% block content %}
        {% endblock %}
      </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
